<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="static/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/flat-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/dashboard.css">
    <style>
      
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      }

    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script>
function initialize() {
  var mapOptions = {
    center: new google.maps.LatLng(28.60955, 77.35750),
    zoom: 13
  };
  var map = new google.maps.Map(document.getElementById('map-canvas'),
    mapOptions);

  var input = /** @type {HTMLInputElement} */(
      document.getElementById('pac-input'));
  var  image = 'http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png';
  var types = document.getElementById('type-selector');
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

  var autocomplete = new google.maps.places.Autocomplete(input);
  autocomplete.bindTo('bounds', map);

  var infowindow = new google.maps.InfoWindow();
  var marker = new google.maps.Marker({
    map: map,
    anchorPoint: new google.maps.Point(0, -29)
  });

  google.maps.event.addListener(autocomplete, 'place_changed', function() {
    infowindow.close();
    marker.setVisible(false);
    var place = autocomplete.getPlace();
    if (!place.geometry) {
      return;
    }

    // If the place has a geometry, then present it on a map.
    if (place.geometry.viewport) {
      map.fitBounds(place.geometry.viewport);
    } else {
      map.setCenter(place.geometry.location);
      map.setZoom(17);  // Why 17? Because it looks good.
    }
   marker.setIcon(image);
    marker.setPosition(place.geometry.location);
    var latitude = place.geometry.location.lat();
    var longitude = place.geometry.location.lng();
    document.getElementById('latitude').value=latitude;
    document.getElementById('longitude').value=longitude;
    
    marker.setVisible(true);

    var address = '';
    if (place.address_components) {
      address = [
        (place.address_components[0] && place.address_components[0].short_name || ''),
        (place.address_components[1] && place.address_components[1].short_name || ''),
        (place.address_components[2] && place.address_components[2].short_name || '')
      ].join(' ');
    }

    infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
    infowindow.open(map, marker);
  });


}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
   

    
  </head>
  <body>
    <header class="container-fluid">
      <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">H1N1 Project</a>
        </div>
      </nav>
    </header>
    <aside>
      <div class="showMenu visible-xs"><a href="javascript:" class="btn btn-primary"><span class="fui-list"></span></a></div>
      <ul>
        <li class="active"><a href="javascript:" class="menuLink" data-show="one">Upload lab data</a></li>
        <li><a href="javascript:" class="menuLink" data-show="two">Show data</a></li>
        <li><a href="javascript:" class="menuLink" data-show="three">Show on map</a></li>
        <li><a href="javascript:" class="menuLink" data-show="four">Edit lab details</a></li>
        <li><a href="/">Logout</a></li>
      </ul>
    </aside>
    <div class="container-fluid mainContainer">
      <div class="row one">
        <div class="col-sm-12">
          <h2>Upload Patient Data</h2>
          <form action="/savelocation"  method="POST">
             {% csrf_token %}
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Patient Name</label>
                  <input type="text" name="name" id="name" class="form-control" placeholder="Patient name" required>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="address">Patient Location</label>
                  <input type="text" name="address" id="pac-input" class="form-control" required placeholder="Patient location">
                </div>
              </div>
              <input type="hidden" id="latitude" name ="latitude"/> 
    <input type="hidden" id="longitude" name="longitude"/>
              <div id="map-canvas"></div>
              <div class="col-sm-12">
                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-embossed" value="Save">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row two">
        <div class="col-sm-12">
          <h2>Lab Data</h2>
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th>Patient Id</th>
                  <th>Location</th>
                  <th>Added On</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                {% for each in all_patients %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>Ab5542</td>
                  <td>{{each.address}}</td>
                  <td>{{each.visitDate|date:"d M Y"}}</td>
                  <td><a href="javascript:" class="btn btn-inverse" title="Edit"><span class="fui-new"></span></a> <a href="javascript:" class="btn btn-inverse" title="Delete"><span class="fui-trash"></span></a></td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row three">
        <div class="col-sm-12">
          <h2>Disease distribution on map</h2>
          <div id="map-canvas"></div>
        </div>
      </div>
      <div class="row four">
        <div class="col-sm-12">
          <h2>Edit lab details</h2>
        </div>
      </div>
    </div>
    <script src="static/js/vendor/jquery.min.js"></script>
    <script src="static/js/vendor/video.js"></script>
    <script src="static/js/flat-ui.min.js"></script>
    <script>
      function toggleMenu(){
        parent = $('aside');
        if(parent.hasClass('show')) parent.removeClass('show');
        else parent.addClass('show');
      }
      $(document).on('click','.showMenu',toggleMenu);
      $(document).on('click','aside ul li>a.menuLink',function(){
        hide = $(this).closest('ul').find('li.active').removeClass('active').find('a').attr('data-show');
        show = $(this).parent().addClass('active').find('a').attr('data-show');
        toggleMenu();
        $('.mainContainer .'+hide).fadeOut('normal',function(){
          $('.mainContainer .'+show).fadeIn();
          initialize();
        });
      });
    </script>
  </body>
</html>
