<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H1N1 Report</title>
    <link href="static/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/flat-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/index.css">
  </head>
  <body>
    <header class="container-fluid">
      <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="/">H1N1 Project</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navbar-collapse-01">
          <ul class="nav navbar-nav">
            <li><a href="login">Login</a></li>
            <li><a href="dashboard">Dashboard</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-center">
          <img src="static/img/front_image.jpg" class="img-responsive">
        </div>
        <div class="col-sm-6">
          <h1>H1N1 Project</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
          <p> Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
        </div>
      </div>
    </div>
    <script src="static/js/vendor/jquery.min.js"></script>
    <script src="static/js/vendor/video.js"></script>
    <script src="static/js/flat-ui.min.js"></script>

  </body>
</html>
