<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="static/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/flat-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/login.css">
  </head>
  <body>
    <header class="container-fluid">
      <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="/">H1N1 Project</a>
        </div>
      </nav>
    </header>
    <div class="container-fluid mainContainer">
      <div class="row">
        <div class="col-sm-4 col-xs-12 col-sm-offset-4 formContainer">
          <h2 class="text-center">Login</h2>
          <form action="" onsubmit="return false;" id="loginForm">
            <div class="form-group">
              <label for="username" class="login-field-icon fui-user"> Username</label>
              <input type="text" id="username" required name="username" placeholder="Username" class="form-control" />
            </div>
            <div class="form-group">
              <label for="password" class="login-field-icon fui-lock"> Password</label>
              <input type="password" class="form-control" required id="password" placeholder="Password" id="password" name="password">
            </div>
            <div class="form-group text-center">
              <input type="submit" class="btn btn-primary btn-embossed" value="Log in">
              <p class="text-muted text-center"><a href="javascript:">Forgot password?</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="static/js/vendor/jquery.min.js"></script>
    <script src="static/js/vendor/video.js"></script>
    <script src="static/js/flat-ui.min.js"></script>

  </body>
</html>
