nav{
	background-color: #0277bd;
}

nav .brand-logo{
	font-weight: 300;
}

img#deshraj{
	vertical-align: middle;
	margin-right: 10px;
	height: 45px;
}

.side-nav.fixed.hide-on-med-and-down{
	margin-top: 64px;
}

ul.side-nav li{
	padding: 0;
}

ul.side-nav.fixed a{
	color: black;
	vertical-align: middle;
}

ul.side-nav.fixed i{
	vertical-align: middle;
}

div.nav-wrapper{
	background-color: #424242;
}

#row1{
	margin-top: 5px;

}

a.waves-effect.btn{
	background-color: #ffc400;
	color: #424242;
}

a.waves-effect.btn:hover{
	background-color: #424242;
	color: white;
}
footer{
    /*padding-top: 10px;*/
    /*padding-bottom: 0px;*/
    /*position:fixed;*/
    bottom:0;
    width:100%;
}
footer div.container{
    color: #ffc400;
}

img#r{
	vertical-align: middle;
	/*margin-right: 10px;*/
	height: 250px;
}